nav,footer,body{
  background:#191919;
}
body{
  line-height: 2em;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 90vh;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.name {
  padding: 0;
}
.name input {
  width: 150px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  border-radius: 0;
}

.form-signin input[id="inputFirstname"] {
  border-top-left-radius: 4px;
}
.form-signin input[id="inputLastname"] {
  border-top-right-radius: 4px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
 .masthead-content .masthead-heading {
  font-size: 4rem;
}
 .masthead-content .masthead-subheading {
  font-size: 2rem;
}


.btn{
  background-color: #198cff;
}
.btn:hover{
  background-color: #0d0d0d;
}
.btn-custom{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-custom div{
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2em;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.grad-border{
  height: 4px;
  background:linear-gradient(90deg, #ff4183 0%,#e1a4ff 50%, #16BFFD 100%);
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
